{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'contact.css' %}" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>
<body>
  <div class="top">
    <main class="header">
        <div class="navtype">
            <div class="items">
                <a class="topbar" href="intern/">Internship</a>
                <a class="topbar" href="#">Student Corner</a>
                <a class="topbar" href="#">Blog</a>
                <a class="topbar" href="contacts/">Locate Us</a>
            </div>
            <div class="appdown">
                <div class="appdownload">
                    Download<br>
student app  </div>
<div class="pic">   
 <a href="https://play.google.com/store/apps/details?id=com.livewireindia.lms"><span> <img src="https://www.livewireindia.com/assets/images/google-play.svg" alt="" width="120px" ></span>
                    </a>  
                </div>
             </div>
             <div class="mail-item"> 
                 <div class="mail">
                     
                    <img src="mail-right-arrow.svg" alt="" width="50px" height="50px" ></div>  
                    <div class="id"> <a href="">info@livewireindia.com</a></div>
                 </div>
                </div>
            </div>
        </div>
        <nav>
          <div class="containers">
            <div class="logo" style="margin-left: 50px;"><img src="{% static 'images/livewirelogo.png' %}" alt="" ></div>
              
                <ul class="dropdown" style="margin-top:-40px;margin-left: 390px;">
                <li><a href="#">Courses</a>
                            
                                <ul class="products">
                                  
                                    <li><a href="#">Software Development</a>
                                      <ul class="books">
                                        <li> <a href="/java">Java</a></li>
                                        <li> <a href="/adjava">Advanced Java</a></li>
                                        <li> <a href="/c">C Programming</a></li>

                                       <li><a href="/ac">C++ Programming</a></li>
                                       <li><a href="/mern">Full Stack Development</a></li>

                                       <li> <a href="/django">Django</a></li>
                                       <li> <a href="/app">App Development</a></li>
                                       <li> <a href="/cs">ASP.net with C#</a></li>


                                      </ul>
                                    
                                    
                                    
                                    </li>
                                    <li><a href="#">Industrial Automation</a>
                                      <ul class="books1">
                                        <li> <a href="/plc">PLC And CADA</a></li>
                                        <li> <a href="/epsa">Electrical power system analysis</a></li>
                                         
                                        </ul>
                                    </li>
                                    <li><a href="#">Electronic Design Automation</a>
                                      <ul class="books2">
                                        <li> <a href="/matlab">MATLAB</a></li>
                                        <li> <a href="/microcont">MicroController</a></li>
                                        <li> <a href="/amicrocont">Advanced Microcontroller</a></li>
                                        </ul>
                                      </li>
                                    <li><a href="#">ITIM</a>
                                      <ul class="books3">
                                        <li> <a href="/neteng">Network Enginnering</a></li>
                                        <li> <a href="/netsec">Network Security</a></li>
                                        <li> <a href="/ethical">Ethical Hacking</a></li>
                                        </ul>
                                      </li>
                                    <li><a href="#">Special Programs</a>
                                      <ul class="books4">
                                        <li> <a href="/ds">Data Science</a></li>
                                        <li> <a href="/dsde">Data Science and Data Engineering using Python</a></li>
                                        <li> <a href="/dsr">Data Science Using R</a></li>
                                        <li> <a href="/dapb">Data Analytics using Power BI</a></li>
                                        <li> <a href="/ml">Machiene Learning</a></li>
                                        <li> <a href="/mlp">Machiene Learning using Python</a></li>
                                        <li> <a href="/mlr">Machiene Learning using R</a></li>
                                        <li> <a href="/bc">Blockchain</a></li>
                                        <li> <a href="/ai">Artificial Intelligence</a></li>
                      
                                        <li> <a href="/rpa">RPA</a></li>
                                        <li> <a href="/robo">Robotics</a></li>
                                        <li> <a href="/IOT">IOT</a></li>
                                        <li> <a href="/nlp">Complete Guide to NLP Chat GPT</a></li>
                                        <li> <a href="/tdprinting">3D Printing</a></li>
                                        </ul>
                                      </li>
                                </ul>
                           
                </li>
                <li><a href="webin/">Webinar</a></li>
                <li><a href="contacts/">Contact</a></li>
            </ul>
        
         </div>
       </nav>
    </main>
 </div> 
    <div class="software" style="margin-bottom:100px;">
        <div class="discover" style="background-color: rgb(16, 16, 77); ">
          <h2>Contact Us</h2>
        <p>We are always here for you- whether it’s feedback, assistance or you just want to know more about us. Please feel free to reach out to us!</p>
          
        </div>
        <div class="discover">
          <img src="https://www.livewireindia.com/assets/images/contactus/banner.webp" height="400px" width="100%"  alt="">
        </div>
        </div>

      <div>
        <h1 style="text-align: center;color:#192852;">General Contact</h1>
        <p style="text-align: center;"> We would love to connect with you!
          Reach out to us for more information.</p>
       
      </div>
        <div style="display:flex;">

            <div style="width:55%;margin-left:100px ;margin-top: 100px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.933397183689!2d80.06088777494124!3d12.847578287456484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52f7f548d72891%3A0x7a1accd77d743ca8!2sLIVEWIRE%20%7C%20Guduvanchery%20%7C%20C%2CC%2B%2B%20%7C%20Java%20%7C%20Python%20%7C%20Web%20Development%20%7C%20Full%20Stack%20%7C%20Chat%20GPT%20%7C%20Matlab%20%7C%20Datascience%20%7C!5e0!3m2!1sen!2sin!4v1692757909504!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
              <!-- <div class="container"style="width:40%; margin-right:200px;margin-top:80px;">
                
                 -->
                 <div class="container" style="width:40%; margin-right:200px;margin-top:80px;">
                  <form action="action_page.php">
                    <h1 style="color:#192852;text-align: center;">Enquire Now</h1>
                    
                    <input type="text" id="fname" name="firstname" placeholder="Name">
                
                    
                    <input type="text" id="lname" name="lastname" placeholder="Email ID">
                
                    <input type="text" id="no" name="no" placeholder="Mobie No">
                    <select id="country" name="country">
                      <option value="australia">Australia</option>
                      <option value="canada">Canada</option>
                      <option value="usa">USA</option>
                    </select>
                    <select id="country" name="country">
                      <option value="australia">Australia</option>
                      <option value="canada">Canada</option>
                      <option value="usa">USA</option>
                    </select>
                
                    
                
                    <input type="submit" value="Apply Now" style="align-items: center;text-align: center;">
                
                  </form>
                </div>
            </div>
        </div>
       
          
          <div class="ft-main" style="display:flex;background-color: #eef2ff;margin-left: -40px;margin-bottom: 0;padding-right: 100px;margin-top:100px;">
            <div class="ft-main-item" style="margin-left: 200px;">
              <h2 class="ft-title">About</h2>
              <p>1st Floor, K.R. Ahamed Sha <br/>office complex, No. 25, Dr.<br/> Radhakrishnan Salai, Mylapore, Chennai - 600 004,<br/> Tamil Nadu, India.</p>
              <h2 style="color:#192852;">Get In Touch</h2>
              <p class="flex bg-[#192852] p-2 text-white gap-2 text-sm w-[70%] font-light justify-center" style="background-color: #192852;width:220px;"> <h4 style="color: #192852;">Email</h4> <a href="mailto:info@livewireindia.com" style="color:black;">info@livewireindia.com</a></p>
              <div class="ft-social">
                <ul class="ft-social-list" style="display:flex;padding:10px;gap: 5px;">
                  <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                  </a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-github"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
                </div>
             </div> 
            <div class="ft-main-item">
              <h2 class="ft-title">Quick Links</h2>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="webin/">Webinar</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Student Corner</a></li>
                <li><a href="contacts/">Contact</a></li>
              </ul>
            </div>
            <div class="ft-main-item">
              <h2 class="ft-title">Technologies Offered</h2>
              <ul>
                <li><a href="/java">Software Development</a></li>
                <li><a href="/epsa">Electronic Design Automation</a></li>
                <li><a href="/microcont">Industrial Automation</a></li>
                <li><a href="/neteng">IT Infrastructure Management</a></li>
                <li><a href="/ds">Data Science</a></li>
                <li><a href="/ml">Machine Learning</a></li>
              </ul>
            </div>
            <div class="ft-main-item" style="float:right;">
                <h2 class="ft-title">Trending Courses</h2>
                <ul>
                  <li><a href="/python">Python</a></li>
                  <li><a href="/ds">Data Science</a></li>
                  <li><a href="/bc">blockchain</a></li>
                  <li><a href="/IOT">IOT</a></li>
                  <li><a href="/rpa">Robotic Process Autonmation(RPA)</a></li>
                  
                </ul>
              </div>
            </div>
              <div class="pictures" style="float:right;padding: 20px; margin-top: 0%;gap:10px;margin-right: 50px; background: white">
                <div class="lg:flex grid grid-cols-2 justify-end items-center gap-12 mb-8 pt-6 p-5" style="padding-left:40px;padding-bottom: 30px;padding-top:-50px">
                  <img alt="future-skills" title="future-skills" src="{% static 'images/future-skills.png' %}" width="150px" height="80px" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                  <img alt="skill-india" title="skill-india" src="{% static 'images/skill-india.webp' %}" width="150px" height="80px" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                  <img alt="nsdc" title="nsdc" src="{% static 'images/nsdc.webp' %}" width="150px" height="80px" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
                  <img alt="livewire-logo" title="livewire-logo" src="{% static 'images/livewire-logo.png ' %}" width="150px" height="40px" decoding="async" data-nimg="1" class="h-6" loading="lazy" style="color:transparent">
              </div>
            </div>
              
          
          
        </div>
    
</body>
</html>