{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>

    <style>
      .containers{
    margin-top:20px;
    margin-bottom:20px;
   } 
   .dropdown{
    display:flex;
    justify-content:center;
    list-style-type:none;
   }
   .dropdown a{

    padding:25px;
    display:block;
    width:150px;
    color:#000000;
    
    font-size:1.2rem;
    font-weight:bold;
    text-decoration:none;
    text-align:center;
   }
   
   .dropdown a:hover{
    background-color:#fff;
    border-style:solid;
    border-color:yellow;
    color:red;
   }
   .products{
    list-style-type:none;
    display:none;
       }

    .dropdown li:nth-child(1):hover .products{
        display:block;
        height:800px;

    }
    .books{
        list-style-type:none;
      transform:translateX(200px) translateY(-70px);
      display:grid;
      grid-template-columns:repeat(3,1fr);
      
      position:absolute;
       visibility:hidden;
    }
    .books1{
       
        list-style-type:none;
      transform:translateX(200px) translateY(-70px);
      display:grid;
      grid-template-columns:repeat(3,1fr);
      
      position:absolute;
       visibility:hidden;
    }
    .books2{
        list-style-type:none;
      transform:translateX(200px) translateY(-70px);
      display:grid;
      grid-template-columns:repeat(3,1fr);
      
      position:absolute;
       visibility:hidden;
    }
    .books3{
        list-style-type:none;
      transform:translateX(200px) translateY(-70px);
      display:grid;
      grid-template-columns:repeat(3,1fr);
      
      position:absolute;
       visibility:hidden;
    }
    .books4{
        list-style-type:none;
      transform:translateX(200px) translateY(-400px);
      display:grid;
      grid-template-columns:repeat(4,1fr);
      
      position:absolute;
       visibility:hidden;
    }
    
    .products li:nth-child(1):hover .books{
               visibility:visible;
    }
    .products li:nth-child(2):hover .books1{
        visibility:visible;

    }
.products li:nth-child(3):hover .books2{
    visibility:visible;
}
.products li:nth-child(4):hover .books3{
    visibility:visible;

}
.products li:nth-child(5):hover .books4{
    visibility:visible;

}
.btn{
  margin-top: 10px;
      padding-top: 5px;
      padding-bottom: 6px;
      margin-left: 20px;
      padding-left: 15px;
      padding-right: 15px;
      border-bottom: 2px solid ;
      border-top: 2px solid;
      border-left: 2px solid;
      border-right: 2px solid;
      border-radius: 5px;
      background:linear-gradient(to right,blue,red) ;
}
 .faq-page{
  font-size: 14px;
 }
 .faq-body{
   font-size: 15px;
   background-color: #192852;
   color: white;
   padding: 3%;
 }
 .items a{
  color:white;
 }
    </style>
</head>

<body>
  
     <div class="top">
        <main class="header">
            <div class="navtype">
                <div class="items" style="color: white;">
                    <a class="topbar" href="intern/">Internship</a>
                    <a class="topbar" href="#">Student Corner</a>
                    <a class="topbar" href="contact/">Locate Us</a>
                </div>
                <div class="appdown">
                    <div class="appdownload">
                        Download<br>
student app  </div>
<div class="pic">   
     <a href="https://play.google.com/store/apps/details?id=com.livewireindia.lms"><span> <img src="{% static 'images/google-play.svg' %}" alt="" width="120px" ></span>
                        </a>  
                    </div>
                 </div>
                 <div class="mail-item"> 
                     <div class="mail">
                        
                        <div class="id"> <a href="" style="color:white">info@livewireindia.com</a></div>
                     </div>
                    </div>
                </div>
            </div>
            <nav>
              <div class="containers">
                  <div class="logo" style="padding-left: 60px;"><img src="{% static 'images/livewirelogo.png' %}" alt=""></div>
                    
                      <ul class="dropdown" style="margin-top:-40px;margin-left: 500PX;">
                      <li><a href="#">Courses</a>
                                  
                                      <ul class="products">
                                        
                                          <li><a href="#">Software Development</a>
                                            <ul class="books">
                                              <li> <a href="/java">Java</a></li>
                                              <li> <a href="/adjava">Advanced Java</a></li>
                                              <li> <a href="/c">C Programming</a></li>
    
                                             <li><a href="/ac">C++ Programming</a></li>
                                             <li><a href="/mern">Full Stack Development</a></li>
    
                                             <li> <a href="/django">Django</a></li>
                                             <li> <a href="/app">Android App Development</a></li>
                                             <li> <a href="/cs">ASP.net with C#</a></li>
    
    
                                            </ul>
                                          
                                          
                                          
                                          </li>
                                          <li><a href="#">Industrial Automation</a>
                                            <ul class="books1">
                                              <li> <a href="/plc">PLC And CADA</a></li>
                                              <li> <a href="/epsa">Electrical power system analysis</a></li>
                                               
                                              </ul>
                                          </li>
                                          <li><a href="#">Electronic Design Automation</a>
                                            <ul class="books2">
                                              <li> <a href="/matlab">MATLAB</a></li>
                                              <li> <a href="/microcont">MicroController</a></li>
                                              <li> <a href="/amicrocont">Advanced Microcontroller</a></li>
                                              </ul>
                                            </li>
                                          <li><a href="#">ITIM</a>
                                            <ul class="books3">
                                              <li> <a href="/neteng">Network Enginnering</a></li>
                                              <li> <a href="/netsec">Network Security</a></li>
                                              <li> <a href="/ethical">Ethical Hacking</a></li>
                                              </ul>
                                            </li>
                                          <li><a href="#">Special Programs</a>
                                            <ul class="books4">
                                              <li> <a href="/ds">Data Science</a></li>
                                              <li> <a href="/dsde">Data Science and Data Engineering using Python</a></li>
                                              <li> <a href="/dsr">Data Science Using R</a></li>
                                              <li> <a href="/dapb">Data Analytics using Power BI</a></li>
                                              <li> <a href="/ml">Machine Learning</a></li>
                                              <li> <a href="/mlp">Machine Learning using Python</a></li>
                                              <li> <a href="/mlr">Machine Learning using R</a></li>
                                              <li> <a href="/bc">Blockchain</a></li>
                                              <li> <a href="/ai">Artificial Intelligence</a></li>
                            
                                              <li> <a href="/rpa">RPA</a></li>
                                              <li> <a href="/robo">Robotics</a></li>
                                              <li> <a href="/IOT">IOT</a></li>
                                              <li> <a href="/nlp">Complete Guide to NLP Chat GPT</a></li>
                                              <li> <a href="/tdprinting">3D Printing</a></li>
                                              </ul>
                                            </li>
                                      </ul>
                                 
                      </li>
                      <li><a href="webin/">Webinar</a></li>
                      <li><a href="contacts/">Contact</a></li>
                  </ul>
              
               </div>
           </nav>
        </main>
     </div> 




{% for op in value1 %}
  
  <div>
    <div class="head-cont">
    <div class="cont-1">
      <h3>{{op.name|safe}}</h3>
      <p style="padding-top: 4%;
      padding-bottom: 4%;">{{op.des1}}</p>
      <a href="#">Apply Now</a>
    </div>
    <div class="cont-2">
      <img src="{{op.intro_img}}" width="780px" height="400px" >
    </div>
  </div>
   <div class="cou-high">
    <h2 style="padding-top:2% ;padding-bottom: 2%;">Course-Key Highlights</h2>
    <div class="highli" style="padding-bottom: 3%;">
      <div class="progr-dura">
        <img src="{% static 'images/clock.png' %}" width="45px">
        <p>Program Duration</p>
        <h3>{{op.duration}} hours</h3>
      </div>
      <div class="progr-dura">
         <img src="{% static 'images/globe.png' %}" width="45px">
        <p>Accredited by</p>
        <h3>NSDC</h3>
      </div>
      <div class="progr-dura">
        <img src="{% static 'images/thumb.png' %}" width="45px">
        <p>Fexible Learning</p>
        <h3>In-center and online</h3>
      </div>
      <div class="progr-dura">
         <img src="{% static 'images/setting.png' %}" width="45px">
        <p>Practical Learning</p>
        <h3>Hands-on experience</h3>
      </div>
      <div class="progr-dur">
        <img src="{% static 'images/profile.png' %}" width="45px">
        <p>Learn from </p>
        <h3>Industry Experts</h3>
      </div>
    </div>
  </div>
</div>


   <section style="display:flex;margin-top: 10%;margin-left: -3%;">
    <div class="para">
      <h1 style="color:#192852; padding-bottom: 2%;">{{op.name2}}</h1>
      <p style="letter-spacing: 2%;font-size: 18px;padding: 2%;">{{op.des2}}</p>
      <h1 style="color:#192852;margin-top: 40px;padding-bottom: 2%;">Course objective</h1>
      <p style="letter-spacing: 1%;font-size: 18px;padding: 2%;">{{op.objective}}</p>
    </div>
    <div class="container" style="width:40%;">
        <form action="action_page.php">
          <h1 style="color:#192852;text-align: center;">Enquire Now</h1>
          
          <input type="text" id="fname" name="firstname" placeholder="Name">
      
          
          <input type="text" id="lname" name="lastname" placeholder="Email ID">
      
          <input type="text" id="no" name="no" placeholder="Mobie No">
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
          <select id="country" name="country">
            <option value="australia">Australia</option>
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
      
          
      
          <input type="submit" value="Apply Now" style="align-items: center;text-align: center;">
      
        </form>
      </div>
    </section>


  <section class="topics" style="margin-left: 10%;margin-top: 150px;" >
        <h1 style="color:#192852;padding-bottom:2% ;">Key Topics Covered</h1>
        <div class="inner"style="display: flex;" >
        <div class="specific" style="margin-right: 100px;" >
        {% for i in value2.key1 %}
        {% if forloop.counter == 1 %}
        <h2 style="color:#192852;padding-left: 10px;padding-top:2%">{{i}}</h2>
        <ul>
        {% else %}
            <li style="list-style: none;">{{i}}</li>
        {% endif %}
        {% endfor %}
        </ul>

       </div>
       <div class="specific" >
        {% for i in value2.key2 %}
        {% if forloop.counter == 1 %}
        <h2 style="color:#192852;padding-left: 10px;padding-top:2%">{{i}}</h2>
        <ul>
        {% else %}
            <li style="list-style: none;">{{i}}</li>
        {% endif %}
        {% endfor %}
        </ul>
       </div>
       </div>
    </section>

<section class="scope" style="margin-left: 8%;margin-top: 100px;">
    <div class="wflex">
        <h1 style="color:#192852;font-size:30px;padding-bottom: 2%;">Scope & Career Opportunities</h1>
        <p style="font-size: 20px;margin-right: 130px;padding-bottom: 2%;">With the increasing demand for Java programmers in various industries, this certification course will prepare you for a successful career in software development, application development, and web development. The knowledge and skills gained from this course will help you stand out in a competitive job market and increase your employability.</p>
    </div>
    <div class="wiflex" style="display:flex">
        <div class="bor flex1">
           <h1 style="color:#192852;padding-top: 1%;">Who is this Course suitable for?</h1>
           <ul>
           {% for i in value2.suitable %}
               <li style="list-style: none;padding-left: 1%;">{{i}}</li>
           {% endfor %}
           </ul>
        </div>

   
    <div class="bor flex2">
        <h1 style="color:#192852;">Salary Range Penetration</h1>
         <img src="{% static 'images/arrows.png' %}" alt="">
         <div class="write" style="display: grid;grid-template-columns: 1fr 1fr 1fr;">
            <p style="color:#6165D7;font-size: 22px;padding-left: 5px;">3 Lakhs</p>
            <p style="color:#000;font-size: 22px;padding-left: 20px;">To</p>
            <p style="color:#A8316A;font-size: 22px;padding-left: 10px;";>15 Lakhs</p>
         </div>
    </div>

    <div class="bor flex3">
        <h1 style="color:#192852;">Job Roles:</h1>
        <div class="dev" style="display: grid;grid-template-columns: 1fr 1fr;">
        {% for i in value2.jobroles %}
          <div class="blu">{{i}}</div>
        {% endfor %}
    </div>
    </div>
    </div>
   </section>


  
   <section class="pro-project" >
    <h3>Real-time Professional project experience to prepare student for their future</h3>
    <div class="projects">
      <div class="pro-1">
    {% for i,j in value2.key3%}
        <div class="bank">
          <p style="padding-top: 4%;padding-bottom: 4%;">{{i}}

          </p>
          <h2>{{j}}</h2>
        </div>
      {% endfor %}
      </div>
      <div class="pro-2">
         <img src="https://www.livewireindia.com/assets/images/professional-men.png" alt="" height="450px">
      </div>
    </div>
  </section>

  <section class="promise" style="margin-top: 100px;">
    <div class="bg" style="position: absolute;">
        <img src="{% static 'images/promisebg.jpg' %}" alt="" height="600">
    </div>
    <div class="box" style="position: relative;margin-left: 4%;">
        <div style="padding-top:20px">
        <h1 style="color: white;font-size: 30px;">Our Promise</h1>
        </div>
        <div class="pcard" style="display:flex">
          <div class="pc pcard1">
            <div class="im">
                <img src="{% static 'images/international.png' %}" alt="">
            </div>
            <div class="content">
                <h2 >Internationally<br/>
                    Recognized Certification:</h2>
                    <p style="padding-top: 2%;">Our NASSCOM certification is recognized by leading organizations in the industry and is a testament to the quality of education and training that students receive with us</p>
            </div>
          </div>
          <div class="pc pcard2">
            <div class="im">
                <img src="{% static 'images/experience.png' %}" alt="" >
            </div>
            <div class="content">
                <h2 >Practical, Hands-On<br/>
                    Experience</h2>
                    <p style="padding-top: 2%;">We promise to provide a hands-on, practical learning experience that allows students to apply their knowledge to real-world scenarios.</p>
            </div>
          </div>
          <div class="pc pcard3">
            <div class="im">
                <img src="{% static 'images/social.png' %}" alt="">
            </div>
            <div class="content">
                <h2>Support and<br/>
                    Guidance
                    </h2>
                    <p style="padding-top: 2%;">We promise to provide ongoing support and guidance to students throughout their learning journey, ensuring they have access to the resources they need to succeed. Whether it's through live chat support, email, or phone, we're here to help.

                    </p>
            </div>
          </div>
        </div>

    </div>
   </section>
  <section style="margin-top:5%">
    <div class="associa">
      <h3>In Association-with</h3>
      <div class="asso-coun">
         
        <div class="cou-asso">
          <img src="{% static 'images/ec-council.webp' %}" alt="" height="110px" width="140px">
        </div>
        <div class="cou-asso">
          <img src="{% static 'images/skill-india.webp' %}" alt="" height="110px" width="160px">
        </div>
        <div class="cou-asso">
          <img src="{% static 'images/nsdc.webp' %}" alt="" height="130px" width="200px">
        </div>
      </div>
      <div class="assocoun-1">
         <h4>Why choose livewire?</h4>
        <div class="cho-live">
          <div class="cho-1">
            <h3>Practical Learning</h3>
            <p>Project based <br>
            Assessment</p>
          </div>
          <div class="cho-1">
            <h3> Flexible Study</h3>
            <p> Self-paced, online or <br>
             classroom options</p>
          </div>
          <div class="cho-1">
            <h3>Latest Tech</h3>
            <p> Up-to-date <br>
             knowledge</p>
          </div>
          <div class="cho-1">
            <h3> Affordable Courses</h3>
            <p>  
             Reasonably priced <br>and good value</p>
          </div>
          <div class="cho-1">
            <h3> Placement<br> Assistance</h3>
            <p> Skills and job<br>
            readiness</p>
          </div>
          <div class="cho-1">
            <h3> Individual Attention</h3>
            <p> Flexible learning to <br>
            suit your preference</p>
          </div>
          <div class="cho-1">
            <h3> Expert Instruction</h3>
            <p>Experienced <br>professionals with <br>real-world experience</p>
          </div>
          <div class="cho-1">
            <h3> NASSCOM <br>Accredited</h3>
            <p> Approved by Govt. of<br> India</p>
          </div>
           
        </div>
      </div>
    </div>
  </section>

  <section class="faq" style="background-color: #192852;margin-top: 100px;">
        <h1 class="faq-heading" style="text-align: center;">FAQ'S</h1>
        <div class="faq-container">
            <div class="f faq-one">

                
                <h1 class="faq-page">What is LIVEWIRE?</h1>

            
                <div class="faq-body">
                    <p>LIVEWIRE is a division of CADD Centre is an approved Training Partner of National Skill Development Corporation (NSDC) in India. LIVEWIRE offers training in emerging technologies like Data Science, Machine Learning, IoT, Artificial Intelligence, Blockchain, Full Stack Developer, Cybersecurity, and many more.
</p>
                </div>
            </div>
            <hr class="hr-line">

            <div class="f faq-two">

               
                <h1 class="faq-page">Where is LIVEWIRE located?</h1>

               

                <div class="f faq-body">
                    <p>LIVEWIRE is present in more than 100 locations in India and over 7 countries.

                    </p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="f faq-three">

              
<h1 class="faq-page">What kind of training is offered at LIVEWIRE?</h1>

                
                <div class="faq-body">
                    <p>LIVEWIRE offers training in a variety of areas, including RPA, Artificial Intelligence, Blockchain, MEAN Stack Developer, Ethical Hacking, Machine Learning, Cloud Computing, IoT, Data Science, PLC & SCADA, Automotive Embedded system, Network Engineering, Cybersecurity, OrCAD Capture and Editor, Linux, C++, Python, and more.</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="f faq-three">

              
<h1 class="faq-page">Who prepares the curricula for LIVEWIRE courses?</h1>

                
                <div class="faq-body">
                    <p>The training is offered by certified instructors who are certified by the Internal Training Academy (ITA).</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="f faq-three">

              
<h1 class="faq-page">Are LIVEWIRE courses accredited?</h1>

                
                <div class="faq-body">
                    <p>Yes, LIVEWIRE is affiliated with several accrediting bodies such as NSDC, STED Council, ISO (9001:2015 & 29990:2010), NIELIT, AXELOS, Oracle, CompTIA, Blockchain Council, etc.</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="f faq-three">

              
<h1 class="faq-page">What are the facilities offered at LIVEWIRE training centers?</h1>

                
                <div class="faq-body">
                    <p>LIVEWIRE training centers boast of high-end hardware and sophisticated technology labs that are modeled on real-world R&D units of industries.</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="f faq-three">

              
<h1 class="faq-page">Is LIVEWIRE associated with any colleges or corporates?</h1>

                
                <div class="faq-body">
                    <p>Yes, LIVEWIRE works closely with more than 1000 colleges in India as a technology partner in equipping students beyond their academics and also with a few corporate clients for their training requirements.</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="f faq-three">

              
<h1 class="faq-page">What is the duration of courses offered by LIVEWIRE?</h1>

                
                <div class="faq-body">
                    <p>The duration of courses offered by LIVEWIRE ranges from 20 hours to 160 hours, depending on the course.</p>
                </div>
            </div>
            <hr class="hr-line">


            <div class="f faq-three">

              
<h1 class="faq-page">Does LIVEWIRE offer placement assistance?</h1>

                
                <div class="faq-body">
                    <p>Yes, LIVEWIRE offers placements and internships and has successfully placed close to 3000 students.</p>
                </div>
            </div>

          </div>
    </section>
{% endfor %}

      <div class="container" style="width:100%;margin-right: -50px;">
       
          
          <div class="ft-main" style="display:flex;background-color: #eef2ff;margin-left: -40px;margin-bottom: 0;padding-right: 100px;">
            <div class="ft-main-item" style="margin-left: 200px;">
              <h2 class="ft-title">About</h2>
              <p>1st Floor, K.R. Ahamed Sha <br/>office complex, No. 25, Dr.<br/> Radhakrishnan Salai, Mylapore, Chennai - 600 004,<br/> Tamil Nadu, India.</p>
              <h2 style="color:#192852;">Get In Touch</h2>
              <p class="flex bg-[#192852] p-2 text-white gap-2 text-sm w-[70%] font-light justify-center" style="background-color: #192852;width:220px;"><h4 style="color:#192852 ;">Email</h4> <a href="mailto:info@livewireindia.com" style="color:black;">info@livewireindia.com</a></p>
              <div class="ft-social">
                <ul class="ft-social-list" style="display:flex;padding:10px;gap: 10px;">
                  <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                  </a></li>
                  <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fab fa-github"></i></a></li>
                  <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
                </div>
             </div> 
            <div class="ft-main-item">
              <h2 class="ft-title">Quick Links</h2>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Webinar</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Student Corner</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
            <div class="ft-main-item">
              <h2 class="ft-title">Technologies Offered</h2>
              <ul>
                <li><a href="#">Software Development</a></li>
                <li><a href="#">Electronic Design Automation</a></li>
                <li><a href="#">Industrial Automation</a></li>
                <li><a href="#">IT Infrastructure Management</a></li>
                <li><a href="#">Data Science</a></li>
                <li><a href="#">Machine Learning</a></li>
              </ul>
            </div>
            <div class="ft-main-item" style="float:right;">
                <h2 class="ft-title">Trending Courses</h2>
                <ul>
                  <li><a href="#">Python</a></li>
                  <li><a href="#">Data Science</a></li>
                  <li><a href="#">blockchain</a></li>
                  <li><a href="#">IOT</a></li>
                  <li><a href="#">Robotic Process Autonmation(RPA)</a></li>
                  
                </ul>
              </div>
            </div>
               
            </div>
              
          
          
        </div>

      
  
      
  
    <script >
var faq = document.getElementsByClassName("faq-page");
var i;

for (i = 0; i < faq.length; i++) {
    faq[i].addEventListener("click", function () {
        
        this.classList.toggle("active");

        
        var body = this.nextElementSibling;
        if (body.style.display === "block") {
            body.style.display = "none";
        } else {
            body.style.display = "block";
        }
    });
}
    </script>
  
</body>

</html>