{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LIVEWIRE | ISO Certified Training Institute</title>
        <link href="{% static 'stylesmine.css' %}" rel="stylesheet" type="text/css" />
        <style>
          @media only screen and (max-width: 600px) {
         .internships{
          display: inline-block;
          width:200%;
         }
         .internship_content{
          padding-left: -30%;
         }
         .logo{
          display: none;
         }

        }
          </style>

    </head>
    <body>
        <div class="top">
        <main class="header">
            <div class="navtype">
                <div class="items">
                    <a class="topbar" href="#">Internship</a>
                    <a class="topbar" href="#">Student Corner</a>
                    <a class="topbar" href="#">Blog</a>
                    <a class="topbar" href="#">Locate Us</a>
                </div>
                <div class="appdown">
                    <div class="appdownload">
                        Download<br>
student app  </div>
<div class="pic">   
     <a href="https://play.google.com/store/apps/details?id=com.livewireindia.lms"><span> <img src="https://www.livewireindia.com/assets/images/google-play.svg" alt="" width="120px" ></span>
                        </a>  
                    </div>
                 </div>
                 <div class="mail-item"> 
                     <div class="mail">
                         
                        <img src="mail-right-arrow.svg" alt="" width="50px" height="50px" ></div>  
                        <div class="id"> <a href="" style="color:white;">info@livewireindia.com</a></div>
                     </div>
                    </div>
                </div>
            </div>
            <nav>
              <div class="containers">
                <div class="logo" ><img src="{% static 'images/livewirelogo.png' %}" alt=""></div>
                  
                    <ul class="dropdown" style="margin-top:-40px;">
                    <li><a href="#">Courses</a>
                                
                                    <ul class="products">
                                      
                                        <li><a href="#">Software Development</a>
                                          <ul class="books">
                                            <li> <a href="/java">Java</a></li>
                                            <li> <a href="/adjava">Advanced Java</a></li>
                                            <li> <a href="/c">C Programming</a></li>
  
                                           <li><a href="/ac">C++ Programming</a></li>
                                           <li><a href="/mern">Full Stack Development</a></li>
  
                                           <li> <a href="/django">Django</a></li>
                                           <li> <a href="/app">App Development</a></li>
                                           <li> <a href="/cs">ASP.net with C#</a></li>
  
  
                                          </ul>
                                        
                                        
                                        
                                        </li>
                                        <li><a href="#">Industrial Automation</a>
                                          <ul class="books1">
                                            <li> <a href="/plc">PLC And CADA</a></li>
                                            <li> <a href="/epsa">Electrical power system analysis</a></li>
                                             
                                            </ul>
                                        </li>
                                        <li><a href="#">Electronic Design Automation</a>
                                          <ul class="books2">
                                            <li> <a href="/matlab">MATLAB</a></li>
                                            <li> <a href="/microcont">MicroController</a></li>
                                            <li> <a href="/amicrocont">Advanced Microcontroller</a></li>
                                            </ul>
                                          </li>
                                        <li><a href="#">ITIM</a>
                                          <ul class="books3">
                                            <li> <a href="/neteng">Network Enginnering</a></li>
                                            <li> <a href="/netsec">Network Security</a></li>
                                            <li> <a href="/ethical">Ethical Hacking</a></li>
                                            </ul>
                                          </li>
                                        <li><a href="#">Special Programs</a>
                                          <ul class="books4">
                                            <li> <a href="/ds">Data Science</a></li>
                                            <li> <a href="/dsde">Data Science and Data Engineering using Python</a></li>
                                            <li> <a href="/dsr">Data Science Using R</a></li>
                                            <li> <a href="/dapb">Data Analytics using Power BI</a></li>
                                            <li> <a href="/ml">Machiene Learning</a></li>
                                            <li> <a href="/mlp">Machiene Learning using Python</a></li>
                                            <li> <a href="/mlr">Machiene Learning using R</a></li>
                                            <li> <a href="/bc">Blockchain</a></li>
                                            <li> <a href="/ai">Artificial Intelligence</a></li>
                          
                                            <li> <a href="/rpa">RPA</a></li>
                                            <li> <a href="/robo">Robotics</a></li>
                                            <li> <a href="/IOT">IOT</a></li>
                                            <li> <a href="/nlp">Complete Guide to NLP Chat GPT</a></li>
                                            <li> <a href="/tdprinting">3D Printing</a></li>
                                            </ul>
                                          </li>
                                    </ul>
                               
                    </li>
                    <li><a href="#">Webinar</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            
             </div>
           </nav>
        </main>
     </div> 
    
<section>
<div class="internships"> 
            <div class="heading" style="background: rgb(15, 15, 62);">
                <h2>
                    Get hands-on experience and build <br>
                    your career with <br>
                </h2>
                <h1>
                    Livewire's Internship Courses
                </h1>
            </div>
            <div class="heading"> 
                <img src="{% static 'images//intern-banner.webp' %}">
            </div>
        </div>
        </section>
        <section class="internship_content" style="font-family: poppins;width:80%;margin: 100px;font-size: 8px;">
            <h2 style="font-size: 36px;">
                Internship courses at Livewire
            </h2>
            <p class="p1">
                Livewire offers internship courses that provide students with practical experience in the IT/ITES industry. These programs usually consist of a combination of classroom instruction, online learning modules, and project work supervised by Livewire's training experts.
            </p>
            <p class="p2">
                By enrolling in internship classes, students can enhance their resumes, acquire hands-on skills, and establish professional connections in their chosen field of study. Livewire provides these courses to students at an affordable fee, along with access to the latest tools and techniques used in the industry.
            </p>
        </section>
        <section class="internship_content2">
            <div class="internship_img2">
                <img src="{% static 'images/mobile-banner.png' %}">
            </div>
            <div class="internship_list1">
                <h1>
                    Livewire's Summer special internship courses
                </h1>
                <h2>
                    Hands on practice and mentor sessions <span>Duration : 20 Hours</span>
                </h2>
                <ul style="list-style-type: none">
                    <li> Build a Python GUI for Banking Applications</li>
                    <li> Java Web-Based Yearbook System for Institutions</li>
                    <li> Developing a Scalable Fraud Detection System for Banks using Machine Learning</li>
                    <li> Creating a Robust E-commerce Payment API using Full-Stack Development</li>
                    <li> Design a Comprehensive Online Exam System using Python Framework Django</li>
                    <li> Predictive Model for Macro-economic Trends using Data Science</li>
                </ul>
            </div>
        </section>
        
        <div class="internship_content3">
            <div class="duartion" style="margin-top: 50px;"> 
            <h1 style="padding-top: 50px;">Livewire's provides a variety of internship courses</h1>
            <h3>Hands on practice and mentor sessions
              <a href="#">Duration:20hours</a>
            </h3>
        </div>
            <div class="internshipdt">
                 
            <div class="internship_list2" style="display:flex;">
                <ul style="list-style-type: none;padding-top: 100px;margin-left: 150px;">
                    <li> Job Portal app creation for Android in Kotlin</li>
                    <li>Ecommerce Automation using Selenium - python </li>
                    <li> Banking fraud predictive model using Machine learn.</li>
                    <li>Electricity Biling System in Java Programming </li>
                    <li> Distance measurement in submarines</li>
                    <li>Full Stack development on E-commerce API-Payment G </li>
                    <li> Design a Responsive Tour and Travel websites</li>
                    <li> Online Examination portal in python Framework-Django</li>
                    <li> Motors control using embedded system application</li>
                    <li> Diagnostic control using hex services</li>
                    <li> Developing Responsive Front-end Websites</li>
                    <li> Online Ticket Reservation System using Django</li>
                </ul>
            </div>
            
            <div class="internship_list3">
                <ul style="list-style-type: none;padding-top: 40px;margin-left: 200px;">
                    <br><br><br>
                    <br>
                    <li> Online Hospital Appointment Registration in MEAN Stack</li>
                    <li> Online Hospital Appointment Registration in MEAN Stack</li>
                    <li> Hotel Management System using Python</li>
                    <li> Covid 19 data analysis using data science</li>
                    <li> Industry 4.0 with Amazon Web Services</li>
                    <li> Banking Application using Python Programming</li>
                    <li> Design and analysis of circuits using OrCAD</li>
                    <li> Developing Online College Yearbook using Java web</li>
                    <li> High power device controlling using cloud and Raspberry Pi</li>
                    <li> Passport Authentication and CRUD Operation in MERN Stack</li>
                    <li> Prototype on Driver less car with hardware integration (Embedded system)</li>
                </ul>
            </div>
        </div>
            <button class="btn" style="align-items: center;margin-left: 550px;">Apply now</button>
        </section>
        <di class="internship_offers" style="margin-top: 100px;margin-bottom: 100px;">                                         
        <div class="internoffers">
            <h1>
                Internships offered at
            </h1>
          </div>
          <div class="internship_img3" style="margin-top: 50px;">
            <img src="{% static 'images/sysfore.png' %}">
            <img src="{% static 'images/inforios.png' %}">
            <img src="{% static 'images/interdeccan.png' %}">
          </div>
        
        </section>
        <div class="container" style="width:100%;margin-right: -50px; ">
       
          
      <div class="ft-main" style="display:flex;background-color: #eef2ff;margin-left: 0px;margin-bottom: 0;padding-right: 100px;">
        <div class="ft-main-item" style="margin-left: 200px;">
          <h2 class="ft-title">About</h2>
          <p>1st Floor, K.R. Ahamed Sha <br/>office complex, No. 25, Dr.<br/> Radhakrishnan Salai, Mylapore, Chennai - 600 004,<br/> Tamil Nadu, India.</p>
          <h2 style="color:#192852;">Get In Touch</h2>
          <p class="flex bg-[#192852] p-2 text-white gap-2 text-sm w-[70%] font-light justify-center" style="background-color: #192852;width:220px;"><img alt="mail" title="mail" src="images/mailbox.png" width="20" height="15" decoding="async" data-nimg="1" loading="lazy" style="color:transparent" /> <a href="mailto:info@livewireindia.com" style="color:white;">info@livewireindia.com</a></p>
          <div class="ft-social">
            <ul class="ft-social-list" style="display:flex;padding:10px;gap: 5px;">
              <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-github"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
            </div>
         </div> 
        <div class="ft-main-item">
          <h2 class="ft-title">Quick Links</h2>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="webin/">Webinar</a></li>
            <li><a href="#">Blog</a></li>
             
            <li><a href="contacts/">Contact</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Technologies Offered</h2>
          <ul>
            <li><a href="/java">Software Development</a></li>
            <li><a href="/epsa">Electronic Design Automation</a></li>
            <li><a href="/microcont">Industrial Automation</a></li>
            <li><a href="/neteng">IT Infrastructure Management</a></li>
            <li><a href="/ds">Data Science</a></li>
            <li><a href="/ml">Machine Learning</a></li>
          </ul>
        </div>
        <div class="ft-main-item" style="float:right;">
            <h2 class="ft-title">Trending Courses</h2>
            <ul>
              <li><a href="/python">Python</a></li>
              <li><a href="/ds">Data Science</a></li>
              <li><a href="/bc">blockchain</a></li>
              <li><a href="/IOT">IOT</a></li>
              <li><a href="/rpa">Robotic Process Autonmation(RPA)</a></li>
              
            </ul>
          </div>
        </div>
      </div>
          
    </body>