{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{% static 'contndrecom.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
</head>

<body>
  <div class="top">
        <main class="header">
            <div class="navtype">
                <div class="items">
                    <a class="topbar" href="#">Internship</a>
                    <a class="topbar" href="#">Student Corner</a>
                    <a class="topbar" href="#">Blog</a>
                    <a class="topbar" href="#">Locate Us</a>
                </div>
                <div class="appdown">
                    <div class="appdownload">
                        Download<br>
student app  </div>
<div class="pic">   
     <a href="https://play.google.com/store/apps/details?id=com.livewireindia.lms"><span> <img src="https://www.livewireindia.com/assets/images/google-play.svg" alt="" width="120px" ></span>
                        </a>  
                    </div>
                 </div>
                 <div class="mail-item"> 
                     <div class="mail">
                         
                        <img src="mail-right-arrow.svg" alt="" width="50px" height="50px" ></div>  
                        <div class="id"> <a href="">info@livewireindia.com</a></div>
                     </div>
                    </div>
                </div>
            </div>
            <nav>
              <div class="containers">
                <div class="logo" ><img src="{% static 'images/livewirelogo.png' %}" alt=""></div>
                  
                    <ul class="dropdown" style="margin-top:-40px;">
                    <li><a href="#">Courses</a>
                                
                                    <ul class="products">
                                      
                                        <li><a href="#">Software Development</a>
                                          <ul class="books">
                                            <li> <a href="/java">Java</a></li>
                                            <li> <a href="/adjava">Advanced Java</a></li>
                                            <li> <a href="/c">C Programming</a></li>
  
                                           <li><a href="/ac">C++ Programming</a></li>
                                           <li><a href="/mern">Full Stack Development</a></li>
  
                                           <li> <a href="/django">Django</a></li>
                                           <li> <a href="/app">App Development</a></li>
                                           <li> <a href="/cs">ASP.net with C#</a></li>
  
  
                                          </ul>
                                        
                                        
                                        
                                        </li>
                                        <li><a href="#">Industrial Automation</a>
                                          <ul class="books1">
                                            <li> <a href="/plc">PLC And CADA</a></li>
                                            <li> <a href="/epsa">Electrical power system analysis</a></li>
                                             
                                            </ul>
                                        </li>
                                        <li><a href="#">Electronic Design Automation</a>
                                          <ul class="books2">
                                            <li> <a href="/matlab">MATLAB</a></li>
                                            <li> <a href="/microcont">MicroController</a></li>
                                            <li> <a href="/amicrocont">Advanced Microcontroller</a></li>
                                            </ul>
                                          </li>
                                        <li><a href="#">ITIM</a>
                                          <ul class="books3">
                                            <li> <a href="/neteng">Network Enginnering</a></li>
                                            <li> <a href="/netsec">Network Security</a></li>
                                            <li> <a href="/ethical">Ethical Hacking</a></li>
                                            </ul>
                                          </li>
                                        <li><a href="#">Special Programs</a>
                                          <ul class="books4">
                                            <li> <a href="/ds">Data Science</a></li>
                                            <li> <a href="/dsde">Data Science and Data Engineering using Python</a></li>
                                            <li> <a href="/dsr">Data Science Using R</a></li>
                                            <li> <a href="/dapb">Data Analytics using Power BI</a></li>
                                            <li> <a href="/ml">Machiene Learning</a></li>
                                            <li> <a href="/mlp">Machiene Learning using Python</a></li>
                                            <li> <a href="/mlr">Machiene Learning using R</a></li>
                                            <li> <a href="/bc">Blockchain</a></li>
                                            <li> <a href="/ai">Artificial Intelligence</a></li>
                          
                                            <li> <a href="/rpa">RPA</a></li>
                                            <li> <a href="/robo">Robotics</a></li>
                                            <li> <a href="/IOT">IOT</a></li>
                                            <li> <a href="/nlp">Complete Guide to NLP Chat GPT</a></li>
                                            <li> <a href="/tdprinting">3D Printing</a></li>
                                            </ul>
                                          </li>
                                    </ul>
                               
                    </li>
                    <li><a href="#">Webinar</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            
             </div>
           </nav>
        </main>
     </div> 
    
     <section>
      <div class="software">
        <div class="discover" style="background-color: rgb(16, 16, 77);">
          <h2>Software Development</h2>
          <p>Discover a world of endless possibilities<br> in the exciting field of Software Development.</p>
          <a href="#">Apply Now </a>
        </div>
        <div class="discover">
          <img src="https://www.livewireindia.com/assets/images/stream/course/stream-course.webp" alt="">
        </div>
      </div>
     </section>
     <section>
      <div class="overview">
        <div class ="overview-cont" style="padding-left: 80px;width:70%">
          <h3>Overview</h3>
          <p>The software development industry is a vibrant, ever-evolving field that provides workers of all skill levels with a wide range of job prospects. Software engineers must regularly refresh their skills and knowledge to stay current and relevant in the market given the speed at which technology is changing. Numerous job opportunities are produced by the increasing need for talented workers in a number of sectors, including healthcare, finance, and entertainment.
            <br><br>
            Careers in software development also provide freedom and variety. Developers can choose to focus on a certain aspect of the industry, such as web or mobile app development, or they can work with a variety of platforms and technologies. In doing so, professionals are able to choose career paths that are in line with their interests and skill sets and to constantly learn new things.</p>
        </div>
        <div class="overview-cont">

        </div>
      </div>

     </section>
     <section>
      <div class="indus">
        <h3>Industry Highlights</h3>
        <div class="mark-dem">
          <div class="dem-1">
            <img src="https://www.livewireindia.com/assets/images/stream/icons/market-demand.png" alt="" height="40px" width="40px">
            <h5>Market Demand</h5>
            <p>The Indian software development <br>
              industry is expected to reach $194<br>
               billion by 2030, with a growth rate<br>
                of 7.7% in FY22 (source: <br>
                NASSCOM).</p>
          </div>
          <div class="dem-1">
            <img src="https://www.livewireindia.com/assets/images/stream/icons/fast-growing.png" alt="" height="40px" width="40px">
            <h5>Fast Growing</h5>
            <p>The software development industry <br>
              in India is expected to grow at a <br>
              CAGR of 12.5% from 2021-2030 <br>
              (source: KPMG).</p>
          </div>
          <div class="dem-1">
            <img src="https://www.livewireindia.com/assets/images/stream/icons/market-demand.png" alt="" height="40px" width="40px">
            <h5>Annual Income Expectancy</h5>
            <p>The average salary for a software <br>
              developer in India is INR 6,50,000<br>
               per year (source: Glassdoor).</p>
          </div>
          <div class="dem-1">
            <img src="https://www.livewireindia.com/assets/images/stream/icons/market-demand.png" alt="" height="40px" width="40px">
            <h5>Growth Rate by the Decade</h5>
            <p>The software development industry<br>
              in India is expected to grow at a<br>
              CAGR of 12.5% from 2021-2030 <br>
              (source: KPMG).</p>
          </div>
        </div>
      </div>
     </section>
     <section class="promising">
      <div class="high-in">
        <div class="dom-1" style="width:60%">
          <h5>High in-Demand Domains: Identifying Promising Career Paths</h5>
          <br>
          <p>Understanding domains of demand can help job seekers identify promising career paths<br>
             and make informed decisions about their education and training. There’s an undying scope <br>
             for Software Development in the following domains;</p>
            <div class="check-1"> 
             <div class="checks">
              <a href="#">Retail</a>
            </div>
            <div class="checks">
              <a href="#">Telecom</a>
            </div>
            <div class="checks">
              <a href="#">Finance</a>
            </div>
            <div class="checks">
              <a href="#">Automation</a>
            </div>
            <div class="checks">
              <a href="#">Logistics</a>
            </div>
            <div class="checks">
              <a href="#">Engineering services</a>
            </div>
          </div>
        </div>
        <div class="dom-1">
          <img src="https://www.livewireindia.com/assets/images/stream/domains.png" alt="" width="350px">
        </div>
      </div>

     </section>
     <section>
      <div class="top-courses">
          <h3>Recommended  Courses</h3>
          <div class="trend"> 
          <div class="trend-course"  style="height:400px">
                <img src="{% static 'images/Asp.net.jpg' %}" alt="" width="250px" height="150px">
                <h5>Trending Courses<br></h5>
                  <h4> ASP.net with C# Course</h4>
              
                <p class="p-tag">In-center | Online | Hybrid<br>
                   100 Hours | Full / Part time <br>
                  Career Support | Placements</p>
                  <a href="/cs" class="a-tag">Know More<i class="fa fa-arrow-right"></i></a>
          </div>
          <div class="trend-course">
              <img src="{% static 'images/1680689719_full-stack.jpg' %}" alt="" width="250px" height="150px" style="padding-top: 5px;">
              <h5>Trending Courses<br></h5>
                 <h4>  Full Stack Development -<br> MEAN / MERN stack</h4>
               
              <p>In-center | Online | Hybrid<br>
                 100 Hours | Full / Part time <br>
                Career Support | Placements</p>
                <a href="/mern"> Know More<i class="fa fa-arrow-right"></i></a>
        </div>
        <div class="trend-course">
          <img src="{% static 'images/1680686120_android.jpg'%}" alt="" width="250px" height="150px">
          <h5>Trending Courses<br> </h5>
              <h4> Android App Development <br>using KOTLIN</h4>
          
          <p>In-center | Online | Hybrid<br>
             100 Hours | Full / Part time <br>
            Career Support | Placements</p>
            <a href="/app">Know More<i class="fa fa-arrow-right"></i></a>
    </div>
    <div class="trend-course">
      <img src="{% static 'images/1680690448_java.jpg' %}" alt="" width="250px" height="150px">
      <h5>Trending Courses<br></h5>
       <h4>   Java and Advanced Java</h4> 
       
      <p class="p1-tag">In-center | Online | Hybrid<br>
         100 Hours | Full / Part time <br>
        Career Support | Placements</p>
       
          <a href="/java" class="a1-tag">Know More<i class="fa fa-arrow-right"></i></a> 
</div>
<div class="trend-course">
  <img src="{% static 'images/1680690448_java.jpg' %}" alt="" width="250px" height="150px">
  <h5>Trending Courses<br></h5>
   <h4>   Java and Advanced Java</h4> 
   
  <p class="p1-tag">In-center | Online | Hybrid<br>
     100 Hours | Full / Part time <br>
    Career Support | Placements</p>
   
      <a href="/java" class="a1-tag">Know More<i class="fa fa-arrow-right"></i></a> 
</div>
<div class="trend-course">
  <img src="{% static 'images/1680690448_java.jpg' %}" alt="" width="250px" height="150px">
  <h5>Trending Courses<br></h5>
   <h4>   Java and Advanced Java</h4> 
   
  <p class="p1-tag">In-center | Online | Hybrid<br>
     100 Hours | Full / Part time <br>
    Career Support | Placements</p>
   
      <a href="/java" class="a1-tag">Know More<i class="fa fa-arrow-right"></i></a> 
</div>
</div>
      </div>
   </section>
     <section class="tools">
      <h2>Tools and Technologies</h2>
      <p>Master the building blocks of computer programming with powerful and versatile <br>
        languages, tools, frameworks, techniques and technologies.</p>
        <div class="option">
          <div class="option-1">
            <li>C,C++</li>
            <li>Python</li>
            <li>Web Designing, ASP.net with C#</li>
            <li>Android App Development using KOTLIN</li>
          </div>
          <div class="option-1">
            <li> Java, Advanced Java</li>
            <li> Django</li>
            <li> Full Stack Development - MEAN / MERN stack services</li>
            <li> Test Automation with Selenium</li>
          </div>
        </div>
     </section>
     <div class="container" style="width:100%;margin-right: -50px;">
       
          
      <div class="ft-main" style="display:flex;background-color: #eef2ff;margin-left: -40px;margin-bottom: 0;padding-right: 100px;">
        <div class="ft-main-item" style="margin-left: 200px;">
          <h2 class="ft-title">About</h2>
          <p>1st Floor, K.R. Ahamed Sha <br/>office complex, No. 25, Dr.<br/> Radhakrishnan Salai, Mylapore, Chennai - 600 004,<br/> Tamil Nadu, India.</p>
          <h2 style="color:#192852;">Get In Touch</h2>
          <p class="flex bg-[#192852] p-2 text-white gap-2 text-sm w-[70%] font-light justify-center" style="background-color: #192852;width:220px;"><img alt="mail" title="mail" src="images/mailbox.png" width="20" height="15" decoding="async" data-nimg="1" loading="lazy" style="color:transparent" /> <a href="mailto:info@livewireindia.com" style="color:white;">info@livewireindia.com</a></p>
          <div class="ft-social">
            <ul class="ft-social-list" style="display:flex;padding:10px;gap: 5px;">
              <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
              </a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-github"></i></a></li>
              <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
            </div>
         </div> 
        <div class="ft-main-item">
          <h2 class="ft-title">Quick Links</h2>
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">Webinar</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Student Corner</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Technologies Offered</h2>
          <ul>
            <li><a href="#">Software Development</a></li>
            <li><a href="#">Electronic Design Automation</a></li>
            <li><a href="#">Industrial Automation</a></li>
            <li><a href="#">IT Infrastructure Management</a></li>
            <li><a href="#">Data Science</a></li>
            <li><a href="#">Machine Learning</a></li>
          </ul>
        </div>
        <div class="ft-main-item" style="float:right;">
            <h2 class="ft-title">Trending Courses</h2>
            <ul>
              <li><a href="#">Python</a></li>
              <li><a href="#">Data Science</a></li>
              <li><a href="#">blockchain</a></li>
              <li><a href="#">IOT</a></li>
              <li><a href="#">Robotic Process Autonmation(RPA)</a></li>
              
            </ul>
          </div>
        </div>
      </div>
          <div class="pictures" style="float:right;padding: 20px; margin-top: 0%;gap:10px;margin-right: 50px; background: white">
            <div class="lg:flex grid grid-cols-2 justify-end items-center gap-12 mb-8 pt-6 p-5" style="padding-left:40px;padding-bottom: 30px;padding-top:-50px">
              <img alt="future-skills" title="future-skills" src="{% static 'images/future-skills.png' %}" width="150px" height="80px" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
              <img alt="skill-india" title="skill-india" src="{% static 'images/skill-india.webp' %}" width="150px" height="80px" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
              <img alt="nsdc" title="nsdc" src="{% static 'images/nsdc.webp' %}" width="150px" height="80px" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
              <img alt="livewire-logo" title="livewire-logo" src="{% static 'images/livewire-logo.png ' %}" width="150px" height="40px" decoding="async" data-nimg="1" class="h-6" loading="lazy" style="color:transparent">
          </div>
       
          
      
      
    </div>

     
</body>

</html>