{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="{% static 'webinar.css' %}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
<style>
  @media only screen and (max-width: 600px) {
    body{
      margin:0;
      padding:0;
      width:800px;
    }
    .navtype{

display: flex;
flex-direction: column;
height:150px;
}
.appdown{
margin-left: -180px;
margin-top: 20px;

}
.mail-item{
margin-left: -60px;
}
.containers{
width:300px;
margin-left: -200px;
margin-top: 50px;
}
.logo{
display: none;
}
.containers ul li a{
display: flex;
flex-direction: column;
padding-left: -8px;
}
.web-img{
  width:71%;
   
}
.web-img h1{
  margin-left: -170px;
}
.web-img p{
  margin-left: 40px;
}
.webinar h3{
  margin-left: -500px;
}
.web-1{
display: flex;
flex-direction: column;
margin-left: -120px;
}
.ft-main{
  display: flex;
  flex-direction: column;
}

  }
</style>
  </head>


<body>
  <div class="top">
        <main class="header">
            <div class="navtype">
                <div class="items">
                    <a class="topbar" href="intern/">Internship</a>
                    
                    <a class="topbar" href="#">Blog</a>
                    <a class="topbar" href="contacts/">Locate Us</a>
                </div>
                <div class="appdown">
                    <div class="appdownload">
                        Download<br>
student app  </div>
<div class="pic">   
     <a href="https://play.google.com/store/apps/details?id=com.livewireindia.lms"><span> <img src="https://www.livewireindia.com/assets/images/google-play.svg" alt="" width="120px" ></span>
                        </a>  
                    </div>
                 </div>
                 <div class="mail-item"> 
                     <div class="mail">
                         
                        <!-- <img src="mail-right-arrow.svg" alt="" width="50px" height="50px" ></div>   -->
                        <div class="id" style="margin-left: 150px;"> <a href="">info@livewireindia.com</a></div>
                     </div>
                    </div>
                </div>
            </div>
            <nav>
              <div class="containers">
                <div class="logo" style="margin-left: 50px;" ><img src="{% static 'images/livewirelogo.png' %}" alt=""></div>
                  
                    <ul class="dropdown" style="margin-top:-40px;margin-left: 400px;">
                    <li><a href="#">Courses</a>
                                
                                    <ul class="products">
                                      
                                        <li><a href="#">Software Development</a>
                                          <ul class="books">
                                            <li> <a href="/java">Java</a></li>
                                            <li> <a href="/adjava">Advanced Java</a></li>
                                            <li> <a href="/c">C Programming</a></li>
  
                                           <li><a href="/ac">C++ Programming</a></li>
                                           <li><a href="/mern">Full Stack Development</a></li>
  
                                           <li> <a href="/django">Django</a></li>
                                           <li> <a href="/app">App Development</a></li>
                                           <li> <a href="/cs">ASP.net with C#</a></li>
  
  
                                          </ul>
                                        
                                        
                                        
                                        </li>
                                        <li><a href="#">Industrial Automation</a>
                                          <ul class="books1">
                                            <li> <a href="/plc">PLC And CADA</a></li>
                                            <li> <a href="/epsa">Electrical power system analysis</a></li>
                                             
                                            </ul>
                                        </li>
                                        <li><a href="#">Electronic Design Automation</a>
                                          <ul class="books2">
                                            <li> <a href="/matlab">MATLAB</a></li>
                                            <li> <a href="/microcont">MicroController</a></li>
                                            <li> <a href="/amicrocont">Advanced Microcontroller</a></li>
                                            </ul>
                                          </li>
                                        <li><a href="#">ITIM</a>
                                          <ul class="books3">
                                            <li> <a href="/neteng">Network Enginnering</a></li>
                                            <li> <a href="/netsec">Network Security</a></li>
                                            <li> <a href="/ethical">Ethical Hacking</a></li>
                                            </ul>
                                          </li>
                                        <li><a href="#">Special Programs</a>
                                          <ul class="books4">
                                            <li> <a href="/ds">Data Science</a></li>
                                            <li> <a href="/dsde">Data Science and Data Engineering using Python</a></li>
                                            <li> <a href="/dsr">Data Science Using R</a></li>
                                            <li> <a href="/dapb">Data Analytics using Power BI</a></li>
                                            <li> <a href="/ml">Machiene Learning</a></li>
                                            <li> <a href="/mlp">Machiene Learning using Python</a></li>
                                            <li> <a href="/mlr">Machiene Learning using R</a></li>
                                            <li> <a href="/bc">Blockchain</a></li>
                                            <li> <a href="/ai">Artificial Intelligence</a></li>
                          
                                            <li> <a href="/rpa">RPA</a></li>
                                            <li> <a href="/robo">Robotics</a></li>
                                            <li> <a href="/IOT">IOT</a></li>
                                            <li> <a href="/nlp">Complete Guide to NLP Chat GPT</a></li>
                                            <li> <a href="/tdprinting">3D Printing</a></li>
                                            </ul>
                                          </li>
                                    </ul>
                               
                    </li>
                    <li><a href="/webin">Webinar</a></li>
                    <li><a href="/contacts">Contact</a></li>
                </ul>
            
             </div>
           </nav>
        </main>
     </div> 
   <div class="web-img">
     <img src="https://www.livewireindia.com/assets/images/webinar/webinar-banner.webp" class="banner" />
     <h1>MetaWords</h1>
     <p>Do you want the final word on next-generation technologies? Come and join us at Metawords. This webinar series allows you to meet experts as they delve into futuristic technologies. Interact with them to gain valuable insights into where things are headed and what the future holds for you in those exciting fields. Check out the upcoming Metawords webinars and register now to reserve your spot.

Past webinars</p>
   </div>
<section>
    <div class="webinar">
        <h3>Past Webinar</h3>
        <div class="web-1">
            <div class="web-2">
                <img src="https://www.livewireindia.com/assets/images/webinar/thump/webinar1.jpg" alt="" height="130px" width="250px">
                <h4>Live Webinar</h4>
                <h2>Infrastructure <br>Automachine On SAP<br> Cloud Platform</h2>
                <h5> Expert Speaker : SHAHED M JANJUA<br>

                Duration : 60 mins<br>
                
               <i class="fa fa-calendar"></i> start
                10 Jun 2023
                
                <i class="fa fa-clock"></i>start
                4 PM (IST) </h5>
               
                <a href="#" style="color:white">Registered Closed</a>
            </div>
            <div class="web-2">
                <img src="https://www.livewireindia.com/assets/images/webinar/card/webinar3.jpeg" alt=""   height="130px" width="250px">
                <h4>Live Webinar</h4>
                <h2>Infrastructure <br>Automachine On SAP<br> Cloud Platform</h2>
                 <h5> Expert Speaker : SHAHED M JANJUA<br>

                Duration : 60 mins<br>
                
               <i class="fa fa-calendar"></i> start
                10 Jun 2023
                
                <i class="fa fa-clock"></i>start
                4 PM (IST)</h5>
                <a href="#" style="color:white">Registered Closed</a>
            </div>
            <div class="web-2">
                <img src="https://www.livewireindia.com/assets/images/webinar/card/webinar1.jpeg" alt=""   height="130px" width="250px">
                <h4>Live Webinar</h4>
                <h2>Infrastructure <br>Automachine On SAP<br> Cloud Platform</h2>
                 <h5> Expert Speaker : SHAHED M JANJUA<br>

                Duration : 60 mins<br>
                
               <i class="fa fa-calendar"></i> start
                10 Jun 2023
                
                <i class="fa fa-clock"></i>start
                4 PM (IST) </h5>
                <a href="#" style="color:white">Registered Closed</a>
            </div>
        </div>
    </div>
</section>
<!-- <div class="container">
  <footer>
    
    <div class="ft-main" style="display:flex;background-color: #eef2ff;margin:100px;margin-bottom: 0;">
      <div class="ft-main-item" >
        <h2 class="ft-title">About</h2>
        <p>1st Floor, K.R. Ahamed Sha <br/>office complex, No. 25, Dr.<br/> Radhakrishnan Salai, Mylapore, Chennai - 600 004,<br/> Tamil Nadu, India.</p>
        <h2 style="color:#192852;">Get In Touch</h2>
        <p class="flex bg-[#192852] p-2 text-white gap-2 text-sm w-[70%] font-light justify-center" style="background-color: #192852;width:220px;"><img alt="mail" title="mail" src="{ % static 'images/companies/mailbox.svg' %}" width="20" height="15" decoding="async" data-nimg="1" loading="lazy" style="color:transparent" /> <a href="mailto:info@livewireindia.com" style="color:white;">info@livewireindia.com</a></p>
        <div class="ft-social">
          <ul class="ft-social-list" style="display:flex;padding:10px;gap: 5px;">
            <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-github"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
          </div>
       </div> 
      <div class="ft-main-item">
        <h2 class="ft-title" style="padding-right: 40px;">Quick Links</h2>
        <ul style="padding-right: 100px;">
          <li><a href="#">About</a></li>
          <li><a href="#">Webinar</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Student Corner</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="ft-main-item">
        <h2 class="ft-title">Technologies Offered</h2>
        <ul style="padding-left:-100px;">
          <li><a href="#">Software Development</a></li>
          <li><a href="#">Electronic Design Automation</a></li>
          <li><a href="#">Industrial Automation</a></li>
          <li><a href="#">IT Infrastructure Management</a></li>
          <li><a href="#">Data Science</a></li>
          <li><a href="#">Machine Learning</a></li>
        </ul>
      </div>
      <div class="ft-main-item" style="float:right;">
          <h2 class="ft-title" style="padding-left: 19px;">Trending Courses</h2>
          <ul style="padding-right: 19px;">
            <li><a href="#">Python</a></li>
            <li><a href="#">Data Science</a></li>
            <li><a href="#">blockchain</a></li>
            <li><a href="#">IOT</a></li>
            <li><a href="#">Robotic Process Autonmation(RPA)</a></li>
            
          </ul>
        </div>
      </div>
        <div class="pictures" style="float:right;padding: 20px; margin-top: 0%;gap:10px;margin-right: 50px; background: white">
          <div class="lg:flex grid grid-cols-2 justify-end items-center gap-12 mb-8 pt-6 p-5" style="padding-left:40px;padding-bottom: 30px;padding-top:-50px">
            <img alt="future-skills" title="future-skills" src="{% static 'images/future-skills.webp' %}" width="150px" height="80px" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
            <img alt="skill-india" title="skill-india" src="{% static 'images/skill-india.webp' %}" width="150px" height="80px" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
            <img alt="nsdc" title="nsdc" src="{% static 'images/nsdc.webp' %}" width="150px" height="80px" decoding="async" data-nimg="1" loading="lazy" style="color:transparent">
            <img alt="livewire-logo" title="livewire-logo" src="{% static 'images/livewirelogo.png' %}" width="150px" height="40px" decoding="async" data-nimg="1" class="h-6" loading="lazy" style="color:transparent">
        </div>
      </div>
        
    
    </footer>
  </div>
   
   
 
          -->
          <div class="container">
            <footer>
              
              <div class="ft-main" style="display:flex;background-color: #eef2ff;margin:100px;margin-bottom: 0;">
                <div class="ft-main-item" >
                  <h2 class="ft-title">About</h2>
                  <p>1st Floor, K.R. Ahamed Sha <br/>office complex, No. 25, Dr.<br/> Radhakrishnan Salai, Mylapore, Chennai - 600 004,<br/> Tamil Nadu, India.</p>
                  <h2 style="color:#192852;">Get In Touch</h2>
                  <p class="flex bg-[#192852] p-2 text-white gap-2 text-sm w-[70%] font-light justify-center" style="background-color: #192852;width:220px;"><h4>Email</h4> <a href="mailto:info@livewireindia.com" style="color:black;">info@livewireindia.com</a></p>
                  <div class="ft-social">
                    <ul class="ft-social-list" style="display:flex;padding:10px;gap:10px;">
                      <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                      </a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#"><i class="fab fa-github"></i></a></li>
                      <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                    </div>
                 </div> 
                <div class="ft-main-item">
                  <h2 class="ft-title">Quick Links</h2>
                  <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="webin/">Webinar</a></li>
                    <li><a href="#">Blog</a></li>
                     
                    <li><a href="contacts/">Contact</a></li>
                  </ul>
                </div>
                <div class="ft-main-item">
                  <h2 class="ft-title">Technologies Offered</h2>
                  <ul>
                    <li><a href="/java">Software Development</a></li>
                    <li><a href="/espa">Electronic Design Automation</a></li>
                    <li><a href="/microcont">Industrial Automation</a></li>
                    <li><a href="/neteng">IT Infrastructure Management</a></li>
                    <li><a href="/ds">Data Science</a></li>
                    <li><a href="/ml">Machine Learning</a></li>
                  </ul>
                </div>
                <div class="ft-main-item" style="float:right;">
                    <h2 class="ft-title">Trending Courses</h2>
                    <ul>
                      <li><a href="/python">Python</a></li>
                      <li><a href="/ds">Data Science</a></li>
                      <li><a href="/bc">blockchain</a></li>
                      <li><a href="/IOT">IOT</a></li>
                      <li><a href="/rpa">Robotic Process Autonmation(RPA)</a></li>
                      
                    </ul>
                  </div>
                </div>
                   
                  
              
              </footer>
            </div>
             
          
        

  

  
  <script src="script.js"></script>

  <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
</body>

</html>